<div class="header mb-3 px-3 py-5 bg-primary">
  <h1 class="my-5 text-center text-white">Angular Pimg</h1>
</div>
<div class="container">
  <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem veniam a, facere sed, repudiandae maiores ea eligendi
    praesentium totam nesciunt perspiciatis alias aliquam necessitatibus sunt error eum hic cumque officiis? Maxime quis
    perspiciatis perferendis eius accusamus error omnis atque doloribus, ullam est tenetur. Ullam excepturi tempora molestias
    quos consectetur aperiam fugit quas earum ipsa, laudantium iste omnis nisi provident illum! Esse, accusantium eos temporibus
    corporis adipisci ut tenetur at harum cupiditate commodi nemo cumque fuga vero odit quas eius sint nesciunt nobis, minima
    architecto labore optio eveniet atque! Id, sed! Officiis vitae expedita, velit qui assumenda rem voluptate deleniti voluptatem
    saepe ex? Tenetur omnis, ducimus beatae, consequuntur ad similique aut, optio unde inventore sequi eius iure nemo cupiditate
    vero dignissimos. Suscipit laborum placeat id reprehenderit quis! Nam possimus iure porro placeat ea, quia blanditiis
    explicabo qui ad expedita laudantium deleniti ipsum! Autem ut mollitia saepe doloribus esse sunt facere consequatur.</div>

  <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem veniam a, facere sed, repudiandae maiores ea eligendi
    praesentium totam nesciunt perspiciatis alias aliquam necessitatibus sunt error eum hic cumque officiis? Maxime quis
    perspiciatis perferendis eius accusamus error omnis atque doloribus, ullam est tenetur. Ullam excepturi tempora molestias
    quos consectetur aperiam fugit quas earum ipsa, laudantium iste omnis nisi provident illum! Esse, accusantium eos temporibus
    corporis adipisci ut tenetur at harum cupiditate commodi nemo cumque fuga vero odit quas eius sint nesciunt nobis, minima
    architecto labore optio eveniet atque! Id, sed! Officiis vitae expedita, velit qui assumenda rem voluptate deleniti voluptatem
    saepe ex? Tenetur omnis, ducimus beatae, consequuntur ad similique aut, optio unde inventore sequi eius iure nemo cupiditate
    vero dignissimos. Suscipit laborum placeat id reprehenderit quis! Nam possimus iure porro placeat ea, quia blanditiis
    explicabo qui ad expedita laudantium deleniti ipsum! Autem ut mollitia saepe doloribus esse sunt facere consequatur.</div>
  <div class="row">
    <div class="col-6">
      <angular-pimg [src]="src2" [style]="{ width: '300px'}" [dataSaver]="{placeholderClassName:'my-placeholder', buttonClassName:'my-btn-o'}">
      </angular-pimg>
    </div>
    <div class="col-6">
      <div class="image-text">{{ images[0] }}</div>
    </div>
  </div>

  <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem veniam a, facere sed, repudiandae maiores ea eligendi
    praesentium totam nesciunt perspiciatis alias aliquam necessitatibus sunt error eum hic cumque officiis? Maxime quis
    perspiciatis perferendis eius accusamus error omnis atque doloribus, ullam est tenetur. Ullam excepturi tempora molestias
    quos consectetur aperiam fugit quas earum ipsa, laudantium iste omnis nisi provident illum! Esse, accusantium eos temporibus
    corporis adipisci ut tenetur at harum cupiditate commodi nemo cumque fuga vero odit quas eius sint nesciunt nobis, minima
    architecto labore optio eveniet atque! Id, sed! Officiis vitae expedita, velit qui assumenda rem voluptate deleniti voluptatem
    saepe ex? Tenetur omnis, ducimus beatae, consequuntur ad similique aut, optio unde inventore sequi eius iure nemo cupiditate
    vero dignissimos. Suscipit laborum placeat id reprehenderit quis! Nam possimus iure porro placeat ea, quia blanditiis
    explicabo qui ad expedita laudantium deleniti ipsum! Autem ut mollitia saepe doloribus esse sunt facere consequatur.</div>
  <div class="row">
    <div class="col-6">
      <angular-pimg [src]="src2" [fetchOnDemand]='true' [style]="{ width: '180px'}">
      </angular-pimg>
    </div>
    <div class="col-6">
      <div class="image-text">{{ images[1] }}</div>
    </div>
  </div>

  <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem veniam a, facere sed, repudiandae maiores ea eligendi
    praesentium totam nesciunt perspiciatis alias aliquam necessitatibus sunt error eum hic cumque officiis? Maxime quis
    perspiciatis perferendis eius accusamus error omnis atque doloribus, ullam est tenetur. Ullam excepturi tempora molestias
    quos consectetur aperiam fugit quas earum ipsa, laudantium iste omnis nisi provident illum! Esse, accusantium eos temporibus
    corporis adipisci ut tenetur at harum cupiditate commodi nemo cumque fuga vero odit quas eius sint nesciunt nobis, minima
    architecto labore optio eveniet atque! Id, sed! Officiis vitae expedita, velit qui assumenda rem voluptate deleniti voluptatem
    saepe ex? Tenetur omnis, ducimus beatae, consequuntur ad similique aut, optio unde inventore sequi eius iure nemo cupiditate
    vero dignissimos. Suscipit laborum placeat id reprehenderit quis! Nam possimus iure porro placeat ea, quia blanditiis
    explicabo qui ad expedita laudantium deleniti ipsum! Autem ut mollitia saepe doloribus esse sunt facere consequatur.</div>
  <div class="row">
    <div class="col-6">
      <angular-pimg [src]="src2" [fetchOnDemand]='true' [style]="{ width: '180px'}">
      </angular-pimg>
    </div>
    <div class="col-6">
      <div class="image-text">{{ images[2] }}</div>
    </div>
  </div>

  <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem veniam a, facere sed, repudiandae maiores ea eligendi
    praesentium totam nesciunt perspiciatis alias aliquam necessitatibus sunt error eum hic cumque officiis? Maxime quis
    perspiciatis perferendis eius accusamus error omnis atque doloribus, ullam est tenetur. Ullam excepturi tempora molestias
    quos consectetur aperiam fugit quas earum ipsa, laudantium iste omnis nisi provident illum! Esse, accusantium eos temporibus
    corporis adipisci ut tenetur at harum cupiditate commodi nemo cumque fuga vero odit quas eius sint nesciunt nobis, minima
    architecto labore optio eveniet atque! Id, sed! Officiis vitae expedita, velit qui assumenda rem voluptate deleniti voluptatem
    saepe ex? Tenetur omnis, ducimus beatae, consequuntur ad similique aut, optio unde inventore sequi eius iure nemo cupiditate
    vero dignissimos. Suscipit laborum placeat id reprehenderit quis! Nam possimus iure porro placeat ea, quia blanditiis
    explicabo qui ad expedita laudantium deleniti ipsum! Autem ut mollitia saepe doloribus esse sunt facere consequatur.</div>
  <div class="row">
    <div class="col-6">
      <angular-pimg [src]="src2" [fetchOnDemand]='true' [style]="{ width: '410px'}">
      </angular-pimg>
    </div>
    <div class="col-6">
      <div class="image-text">{{ images[3] }}</div>
    </div>
  </div>

  <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem veniam a, facere sed, repudiandae maiores ea eligendi
    praesentium totam nesciunt perspiciatis alias aliquam necessitatibus sunt error eum hic cumque officiis? Maxime quis
    perspiciatis perferendis eius accusamus error omnis atque doloribus, ullam est tenetur. Ullam excepturi tempora molestias
    quos consectetur aperiam fugit quas earum ipsa, laudantium iste omnis nisi provident illum! Esse, accusantium eos temporibus
    corporis adipisci ut tenetur at harum cupiditate commodi nemo cumque fuga vero odit quas eius sint nesciunt nobis, minima
    architecto labore optio eveniet atque! Id, sed! Officiis vitae expedita, velit qui assumenda rem voluptate deleniti voluptatem
    saepe ex? Tenetur omnis, ducimus beatae, consequuntur ad similique aut, optio unde inventore sequi eius iure nemo cupiditate
    vero dignissimos. Suscipit laborum placeat id reprehenderit quis! Nam possimus iure porro placeat ea, quia blanditiis
    explicabo qui ad expedita laudantium deleniti ipsum! Autem ut mollitia saepe doloribus esse sunt facere consequatur.</div>
  <div class="row">
    <div class="col-6">
      <angular-pimg [src]="src2" [dataSaver]="false" [fetchOnDemand]="true" [style]="{ width: '320px'}">
      </angular-pimg>
    </div>
    <div class="col-6">
      <div class="image-text">{{ images[4] }}</div>
    </div>
  </div>

  <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem veniam a, facere sed, repudiandae maiores ea eligendi
    praesentium totam nesciunt perspiciatis alias aliquam necessitatibus sunt error eum hic cumque officiis? Maxime quis
    perspiciatis perferendis eius accusamus error omnis atque doloribus, ullam est tenetur. Ullam excepturi tempora molestias
    quos consectetur aperiam fugit quas earum ipsa, laudantium iste omnis nisi provident illum! Esse, accusantium eos temporibus
    corporis adipisci ut tenetur at harum cupiditate commodi nemo cumque fuga vero odit quas eius sint nesciunt nobis, minima
    architecto labore optio eveniet atque! Id, sed! Officiis vitae expedita, velit qui assumenda rem voluptate deleniti voluptatem
    saepe ex? Tenetur omnis, ducimus beatae, consequuntur ad similique aut, optio unde inventore sequi eius iure nemo cupiditate
    vero dignissimos. Suscipit laborum placeat id reprehenderit quis! Nam possimus iure porro placeat ea, quia blanditiis
    explicabo qui ad expedita laudantium deleniti ipsum! Autem ut mollitia saepe doloribus esse sunt facere consequatur.</div>
  <div class="row">
    <div class="col-6">
      <angular-pimg [src]="src1" [placeholder]="'http://res.cloudinary.com/ashinzekene/image/upload/c_scale,q_25,w_30/v1511573958/frontstack/abuja.jpg'"
        [style]="{ width: '400px'}">
      </angular-pimg>`
    </div>
    <div class="col-6">
      <div class="image-text">{{ images[5] }}</div>
    </div>
  </div>

  <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem veniam a, facere sed, repudiandae maiores ea eligendi
    praesentium totam nesciunt perspiciatis alias aliquam necessitatibus sunt error eum hic cumque officiis? Maxime quis
    perspiciatis perferendis eius accusamus error omnis atque doloribus, ullam est tenetur. Ullam excepturi tempora molestias
    quos consectetur aperiam fugit quas earum ipsa, laudantium iste omnis nisi provident illum! Esse, accusantium eos temporibus
    corporis adipisci ut tenetur at harum cupiditate commodi nemo cumque fuga vero odit quas eius sint nesciunt nobis, minima
    architecto labore optio eveniet atque! Id, sed! Officiis vitae expedita, velit qui assumenda rem voluptate deleniti voluptatem
    saepe ex? Tenetur omnis, ducimus beatae, consequuntur ad similique aut, optio unde inventore sequi eius iure nemo cupiditate
    vero dignissimos. Suscipit laborum placeat id reprehenderit quis! Nam possimus iure porro placeat ea, quia blanditiis
    explicabo qui ad expedita laudantium deleniti ipsum! Autem ut mollitia saepe doloribus esse sunt facere consequatur.</div>
  <div class="row my-3">
    <div class="col-6">
      <angular-pimg [src]="src2" [fetchOnDemand]="true" [style]="{ width: '350px'}" [dataSaver]="false">
      </angular-pimg>
    </div>
    <div class="col-6">
      <div class="image-text">{{ images[6] }}</div>
    </div>
  </div>
</div>