<h1>angular pimg</h1>
<div class="row">
  <div class="form-group col-md-7 col-lg-5">
    <input type="text" [(ngModel)]="srcSha" class="form-control">
    <button class="btn btn-secondary" (click)="changeSrc()">Oya Load am</button>
  </div>
</div>

<div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem veniam a, facere sed, repudiandae maiores ea eligendi
  praesentium totam nesciunt perspiciatis alias aliquam necessitatibus sunt error eum hic cumque officiis? Maxime quis perspiciatis
  perferendis eius accusamus error omnis atque doloribus, ullam est tenetur. Ullam excepturi tempora molestias quos consectetur
  aperiam fugit quas earum ipsa, laudantium iste omnis nisi provident illum! Esse, accusantium eos temporibus corporis adipisci
  ut tenetur at harum cupiditate commodi nemo cumque fuga vero odit quas eius sint nesciunt nobis, minima architecto labore
  optio eveniet atque! Id, sed! Officiis vitae expedita, velit qui assumenda rem voluptate deleniti voluptatem saepe ex?
  Tenetur omnis, ducimus beatae, consequuntur ad similique aut, optio unde inventore sequi eius iure nemo cupiditate vero
  dignissimos. Suscipit laborum placeat id reprehenderit quis! Nam possimus iure porro placeat ea, quia blanditiis explicabo
  qui ad expedita laudantium deleniti ipsum! Autem ut mollitia saepe doloribus esse sunt facere consequatur.</div>

<div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem veniam a, facere sed, repudiandae maiores ea eligendi
  praesentium totam nesciunt perspiciatis alias aliquam necessitatibus sunt error eum hic cumque officiis? Maxime quis perspiciatis
  perferendis eius accusamus error omnis atque doloribus, ullam est tenetur. Ullam excepturi tempora molestias quos consectetur
  aperiam fugit quas earum ipsa, laudantium iste omnis nisi provident illum! Esse, accusantium eos temporibus corporis adipisci
  ut tenetur at harum cupiditate commodi nemo cumque fuga vero odit quas eius sint nesciunt nobis, minima architecto labore
  optio eveniet atque! Id, sed! Officiis vitae expedita, velit qui assumenda rem voluptate deleniti voluptatem saepe ex?
  Tenetur omnis, ducimus beatae, consequuntur ad similique aut, optio unde inventore sequi eius iure nemo cupiditate vero
  dignissimos. Suscipit laborum placeat id reprehenderit quis! Nam possimus iure porro placeat ea, quia blanditiis explicabo
  qui ad expedita laudantium deleniti ipsum! Autem ut mollitia saepe doloribus esse sunt facere consequatur.</div>

<div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem veniam a, facere sed, repudiandae maiores ea eligendi
  praesentium totam nesciunt perspiciatis alias aliquam necessitatibus sunt error eum hic cumque officiis? Maxime quis perspiciatis
  perferendis eius accusamus error omnis atque doloribus, ullam est tenetur. Ullam excepturi tempora molestias quos consectetur
  aperiam fugit quas earum ipsa, laudantium iste omnis nisi provident illum! Esse, accusantium eos temporibus corporis adipisci
  ut tenetur at harum cupiditate commodi nemo cumque fuga vero odit quas eius sint nesciunt nobis, minima architecto labore
  optio eveniet atque! Id, sed! Officiis vitae expedita, velit qui assumenda rem voluptate deleniti voluptatem saepe ex?
  Tenetur omnis, ducimus beatae, consequuntur ad similique aut, optio unde inventore sequi eius iure nemo cupiditate vero
  dignissimos. Suscipit laborum placeat id reprehenderit quis! Nam possimus iure porro placeat ea, quia blanditiis explicabo
  qui ad expedita laudantium deleniti ipsum! Autem ut mollitia saepe doloribus esse sunt facere consequatur.</div>

<angular-pimg
  [src]="src" [style]="{ width: '100px', display: 'block'}">
</angular-pimg>

<div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem veniam a, facere sed, repudiandae maiores ea eligendi
  praesentium totam nesciunt perspiciatis alias aliquam necessitatibus sunt error eum hic cumque officiis? Maxime quis perspiciatis
  perferendis eius accusamus error omnis atque doloribus, ullam est tenetur. Ullam excepturi tempora molestias quos consectetur
  aperiam fugit quas earum ipsa, laudantium iste omnis nisi provident illum! Esse, accusantium eos temporibus corporis adipisci
  ut tenetur at harum cupiditate commodi nemo cumque fuga vero odit quas eius sint nesciunt nobis, minima architecto labore
  optio eveniet atque! Id, sed! Officiis vitae expedita, velit qui assumenda rem voluptate deleniti voluptatem saepe ex?
  Tenetur omnis, ducimus beatae, consequuntur ad similique aut, optio unde inventore sequi eius iure nemo cupiditate vero
  dignissimos. Suscipit laborum placeat id reprehenderit quis! Nam possimus iure porro placeat ea, quia blanditiis explicabo
  qui ad expedita laudantium deleniti ipsum! Autem ut mollitia saepe doloribus esse sunt facere consequatur.</div>

<angular-pimg
  [src]="src" 
  [style]="{ width: '300px', display: 'block'}"
  [dataSaver]="{placeholderClassName:'my-placeholder', buttonClassName:'my-btn-o'}">
</angular-pimg>

<div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem veniam a, facere sed, repudiandae maiores ea eligendi
  praesentium totam nesciunt perspiciatis alias aliquam necessitatibus sunt error eum hic cumque officiis? Maxime quis perspiciatis
  perferendis eius accusamus error omnis atque doloribus, ullam est tenetur. Ullam excepturi tempora molestias quos consectetur
  aperiam fugit quas earum ipsa, laudantium iste omnis nisi provident illum! Esse, accusantium eos temporibus corporis adipisci
  ut tenetur at harum cupiditate commodi nemo cumque fuga vero odit quas eius sint nesciunt nobis, minima architecto labore
  optio eveniet atque! Id, sed! Officiis vitae expedita, velit qui assumenda rem voluptate deleniti voluptatem saepe ex?
  Tenetur omnis, ducimus beatae, consequuntur ad similique aut, optio unde inventore sequi eius iure nemo cupiditate vero
  dignissimos. Suscipit laborum placeat id reprehenderit quis! Nam possimus iure porro placeat ea, quia blanditiis explicabo
  qui ad expedita laudantium deleniti ipsum! Autem ut mollitia saepe doloribus esse sunt facere consequatur.</div>

<angular-pimg
  [src]="src" [style]="{ width: '300px', display: 'block'}">
</angular-pimg>

<div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem veniam a, facere sed, repudiandae maiores ea eligendi
  praesentium totam nesciunt perspiciatis alias aliquam necessitatibus sunt error eum hic cumque officiis? Maxime quis perspiciatis
  perferendis eius accusamus error omnis atque doloribus, ullam est tenetur. Ullam excepturi tempora molestias quos consectetur
  aperiam fugit quas earum ipsa, laudantium iste omnis nisi provident illum! Esse, accusantium eos temporibus corporis adipisci
  ut tenetur at harum cupiditate commodi nemo cumque fuga vero odit quas eius sint nesciunt nobis, minima architecto labore
  optio eveniet atque! Id, sed! Officiis vitae expedita, velit qui assumenda rem voluptate deleniti voluptatem saepe ex?
  Tenetur omnis, ducimus beatae, consequuntur ad similique aut, optio unde inventore sequi eius iure nemo cupiditate vero
  dignissimos. Suscipit laborum placeat id reprehenderit quis! Nam possimus iure porro placeat ea, quia blanditiis explicabo
  qui ad expedita laudantium deleniti ipsum! Autem ut mollitia saepe doloribus esse sunt facere consequatur.</div>

<angular-pimg
  [src]="src" [style]="{ width: '310px', display: 'block'}">
</angular-pimg>

<div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem veniam a, facere sed, repudiandae maiores ea eligendi
  praesentium totam nesciunt perspiciatis alias aliquam necessitatibus sunt error eum hic cumque officiis? Maxime quis perspiciatis
  perferendis eius accusamus error omnis atque doloribus, ullam est tenetur. Ullam excepturi tempora molestias quos consectetur
  aperiam fugit quas earum ipsa, laudantium iste omnis nisi provident illum! Esse, accusantium eos temporibus corporis adipisci
  ut tenetur at harum cupiditate commodi nemo cumque fuga vero odit quas eius sint nesciunt nobis, minima architecto labore
  optio eveniet atque! Id, sed! Officiis vitae expedita, velit qui assumenda rem voluptate deleniti voluptatem saepe ex?
  Tenetur omnis, ducimus beatae, consequuntur ad similique aut, optio unde inventore sequi eius iure nemo cupiditate vero
  dignissimos. Suscipit laborum placeat id reprehenderit quis! Nam possimus iure porro placeat ea, quia blanditiis explicabo
  qui ad expedita laudantium deleniti ipsum! Autem ut mollitia saepe doloribus esse sunt facere consequatur.</div>

<angular-pimg
  [src]="src" [style]="{ width: '320px', display: 'block'}">
</angular-pimg>

<div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem veniam a, facere sed, repudiandae maiores ea eligendi
  praesentium totam nesciunt perspiciatis alias aliquam necessitatibus sunt error eum hic cumque officiis? Maxime quis perspiciatis
  perferendis eius accusamus error omnis atque doloribus, ullam est tenetur. Ullam excepturi tempora molestias quos consectetur
  aperiam fugit quas earum ipsa, laudantium iste omnis nisi provident illum! Esse, accusantium eos temporibus corporis adipisci
  ut tenetur at harum cupiditate commodi nemo cumque fuga vero odit quas eius sint nesciunt nobis, minima architecto labore
  optio eveniet atque! Id, sed! Officiis vitae expedita, velit qui assumenda rem voluptate deleniti voluptatem saepe ex?
  Tenetur omnis, ducimus beatae, consequuntur ad similique aut, optio unde inventore sequi eius iure nemo cupiditate vero
  dignissimos. Suscipit laborum placeat id reprehenderit quis! Nam possimus iure porro placeat ea, quia blanditiis explicabo
  qui ad expedita laudantium deleniti ipsum! Autem ut mollitia saepe doloribus esse sunt facere consequatur.</div>

<angular-pimg
  [src]="'https://images.unsplash.com/photo-1514041790697-53f1f86214d2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b7ac79503fbe78855a346c8d814f95ba&auto=format&fit=crop&w=500&q=60'"
  [style]="{ width: '400px', display: 'block'}"
  [dataSaver]="true">
</angular-pimg>

<div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem veniam a, facere sed, repudiandae maiores ea eligendi
  praesentium totam nesciunt perspiciatis alias aliquam necessitatibus sunt error eum hic cumque officiis? Maxime quis perspiciatis
  perferendis eius accusamus error omnis atque doloribus, ullam est tenetur. Ullam excepturi tempora molestias quos consectetur
  aperiam fugit quas earum ipsa, laudantium iste omnis nisi provident illum! Esse, accusantium eos temporibus corporis adipisci
  ut tenetur at harum cupiditate commodi nemo cumque fuga vero odit quas eius sint nesciunt nobis, minima architecto labore
  optio eveniet atque! Id, sed! Officiis vitae expedita, velit qui assumenda rem voluptate deleniti voluptatem saepe ex?
  Tenetur omnis, ducimus beatae, consequuntur ad similique aut, optio unde inventore sequi eius iure nemo cupiditate vero
  dignissimos. Suscipit laborum placeat id reprehenderit quis! Nam possimus iure porro placeat ea, quia blanditiis explicabo
  qui ad expedita laudantium deleniti ipsum! Autem ut mollitia saepe doloribus esse sunt facere consequatur.</div>

<angular-pimg
  [src]="src" [style]="{ width: '350px', display: 'block'}">
</angular-pimg>